.navbar-main {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
  width: 100%;
}

.navbar__button {
  background: var(--quizcard);
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  margin: 0 3px;
}

.navbar__button:hover {
  background-color: var(--button-hover);
}
.navbar__button-active {
  background-color: var(--button-hover) !important;
}
