* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--color-black);
  display: grid;
  font-family: 'DotGothic16', sans-serif;
  font-size: 112.5%;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin: 0;
}

input,
button {
  font-size: 1em;
}

.app-main {
  grid-gap: 16px;
  grid-template-rows: 48px auto 60px;
  height: 100vh;
  line-height: 1.5;
  margin: 15px;
  max-width: 600px;
}
