.quiz-card {
  background: var(--quizcard);
  border-color: var(--color-white);
  color: var(--color-blue);
  display: grid;
  grid-gap: 12px;
  max-width: 600px;
  padding: 10px;
  position: relative;
  margin: 20px;
}

.quiz-card:nth-child {
  margin: 40px 0;
}

.quiz-card__heading {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.quiz-cart__button {
  background: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
}

.quiz-cart__button:hover {
  background-color: var(--button-hover);
}

.quiz-card__taglist {
  padding: 0;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin: 5px 0;
}

.quiz-card__taglist li {
  background: var(--color-primary);
  padding: 8px;
  border-radius: 8px;
}

.quiz-card__bookmark {
  border: 10px solid white;
  border-bottom-color: transparent;
  height: 30px;
  position: absolute;
  right: 10px;
  top: -10px;
}

.quiz-card__bookmark--added {
  border: 10px solid black;
  border-bottom-color: transparent;
}

@media (max-width: 699px) {
  .quiz-card {
    scale: 80%;
  }
}

@media (min-width: 700px) {
  .quiz-card {
    scale: 100%;
  }
}
